<% if @todo_list.present? %>

<div class="todo">
     <div class="clear-form no-border">
        <form>
          <div class="form-heading">
            <!--<span><h2 class="header"><%= current_user.first_name %>'s ToDo Lists</h2></span>-->
            <hr>
          </div>
          <div class="list" >
            <% @todo_lists.each do |todo_list| %>

             <% completed = 0 %>
             <% todo_list.todo_items.each do |todo_item| %>
               <% if todo_item.completed? %>
                  <% completed = completed + 1 %>
               <% end %> 
             <% end %>
             <% incomplete = todo_list.todo_items.count - completed %>

          <div class = "item">
            <div class = "infos">
               <h1><%= todo_list.title %></h1>
               <h3><%= todo_list.description %></h3>
               <hr>
               <h4 id = "items">Items: <%= todo_list.todo_items.count %></h4>
               <h4 id = "completed">Completed Items: <%= completed %></h4>
               <h4 id = "incomplete">Incomplete Items: <%= incomplete %></h4>
            </div> 
              <div class = "options">
               <%= link_to  todo_list do%>
                     <div class="block two"><p>Status</p></div>
                 <% end %>
                 <%= link_to  todo_list_todo_items_path(todo_list) do%>
                     <div class="block one"><p>Tasks</p></div>
                 <% end %>
                
                 <%= link_to  edit_todo_list_path(todo_list) do%>
                     <div class="block three"><p>Edit</p></div>
                 <% end %>
                 <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do%>
                     <div class="block four"><p>Delete</p></div>
                 <% end %>
              </div> 
            </div>
            <% end %>
          </div>

          <div class="form-footer">
           <hr>
           <span><%= link_to 'New Todo list', new_todo_list_path, :class => "btn btn-large btn-blue btn-block" %></span>
               
          </div>
        </form>

    </div>

<% else %> 
   You have no lists
 <div class="form-footer">
           <hr>
           <span><%= link_to 'New Todo list', new_todo_list_path, :class => "btn btn-large btn-blue btn-block" %></span>
               
          </div>
        </form>
<% end %> 
