<% if @todo_lists.present? %>
      <div id ="no-lists-header" class="alert alert-success alert-small">
         <h3>Hello, <%= current_user.first_name %> <%= current_user.last_name %></h3>
      </div>

      <div id ="no-lists-header" class="alert alert-info alert-small">
         <h3>You have <%= @todo_lists.count %> ToDo List(s)</h3>
      </div>

<div class="todo">
     <div class="clear-form no-border">
        <form>
          <div class="form-heading">
            <!--<span><h2 class="header"><%= current_user.first_name %>'s ToDo Lists</h2></span>-->
            <hr id="hr-small">
          </div>
          <div class="list" >
            <% @todo_lists.each do |todo_list| %>

             <% completed = 0 %>
             <% todo_list.todo_items.each do |todo_item| %>
               <% if todo_item.completed? %>
                  <% completed = completed + 1 %>
               <% end %> 
             <% end %>
             <% incomplete = todo_list.todo_items.count - completed %>

          <div class = "item">
            <div class = "infos">
            <div class = "title-description">
               <h1><%= todo_list.title %></h1>
               <h3><%= todo_list.description %></h3>
           </div>
               <hr>
               <h4 id = "items">Tasks: <%= todo_list.todo_items.count %></h4>
               <h4 id = "completed">Completed Tasks: <%= completed %></h4>
               <h4 id = "incomplete">Incomplete Tasks: <%= incomplete %></h4>
            </div> 
              <div class = "options">
               <%= link_to  todo_list do%>
                     <div class="block two"><p>Status</p></div>
                 <% end %>
                 <%= link_to  todo_list_todo_items_path(todo_list) do%>
                     <div class="block one"><p>Tasks</p></div>
                 <% end %>
                
                 <%= link_to  edit_todo_list_path(todo_list) do%>
                     <div class="block three"><p>Edit</p></div>
                 <% end %>
                 <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do%>
                     <div class="block four"><p>Delete</p></div>
                 <% end %>
              </div> 
            </div>
            <% end %>
          </div>

          <div class="form-footer">
           <hr>
           <span><%= link_to 'New Todo list', new_todo_list_path, :class => "btn btn-large btn-blue btn-block" %></span>
          </div>
        </form>
    </div>
  <% else %> 
  <center>
      <div class = "no-lists">
      <div id ="no-lists-header" class="alert alert-success">
         <h1>Hello, <%= current_user.first_name %> <%= current_user.last_name %>
</h1>
      </div>

      <div id ="no-lists-header" class="alert alert-info">
         <h1>You have 0 ToDo Lists</h1>
      </div>


      <%= link_to new_todo_list_path do%>
        <div class="thumbnail tile tile-large tile-blue"> 
              <h1>New Todo List</h1>
          <img src="newlist.png">
        </div>

      <% end %>
      </div>
      </center>
  <% end %> 
