<%= form_for(@todo_list) do |f| %>
<% if @todo_list.errors.any? %>
<div class="error alert flash">
  <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>
  <ul>
    <% @todo_list.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
 <div class = "item">
          
<div class = "create">
            <div class="form-heading">
              <h2 class="header">Create New ToDo List</h2>
              <hr>
            </div>
            <div class="form-body">
            <form class="form-inline">
                <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon addon-green">Title</div>
                         <%= f.text_field :title, :class => "form-control", :placeholder=>"Example: Grocery List" %>
                        <div class="input-group-addon addon-green"></div>
                      </div>
                    </div>
                <div class="form-group">
                      <div class="input-group horz">
                        <div class="input-group-addon horz-addon">Description</div>

                         <%= f.text_area :description,  :rows=>"5", :class => "  form-control" %>
                    
                        <div class="input-group-addon horz-addon"></div>
                      </div>
                    </div>
            </div>
               <hr>
            <center>
              <div class="form-footer">
                <button class="btn btn-lg btn-primary create-button" type="submit">Create List</button> 
                <%= link_to 'Cancel', todo_lists_path,:class => "btn btn-lg btn-danger create-button" %>
                <% end %>  
              </div>
              </center>  
          </form>
            </div> 
</div>