
<%= form_for(@todo_list) do |f| %>
 <div class = "item">
<div class = "create">
            <div class="form-heading">
              <h1 class="header" style = "color:#428bca"><%= @todo_list.title %> - Status</h1>
              <h2><%= @todo_list.description %></h2>
              <hr>
            </div>

<% if @todo_list.has_incomplete_items? %>
	<table class = "table table-bordered">
	  <tbody>
		<th colspan="3"class = "yellow no-top">
			<h2 style = "color:white">Incomplete Items:</h2>
		</th>
		<tr>
		 <td class = "yellow no-top">
			<h3 style = "color:white">Task</h3>
		</td>
		<td class = "yellow no-top">
			<h3 style = "color:white">Completed @</h3>
		</td>
		 <td class = "yellow no-top">
			<h3 style = "color:white">Created @</h3>
		</td>
		</tr>

		<% @todo_list.todo_items.incomplete.each do |todo_item| %>
		<%= link_to edit_todo_list_path(todo_item) do%>
			<tr class = "yellow no-top hover ">
			   <td>
			  	  <h3 >
			  	  	<%= todo_item.content %>
			  	  </h3>
			   </td>
			     <td class = "error">
		  	  <h4 >
		  	  </h4>
		   </td>
		      <td>
		  	  <h4 >
		  	  	<%= todo_item.created_at %>
		  	  </h4>
		   </td>

			</tr>
		<% end %>
	<% end %>
	
	</tbody>
	<% end %>
</table>
<table class = "table table-bordered">
	  <tbody>
<% if @todo_list.has_completed_items? %>
		<th colspan="3" class = "green no-top">
			<h2 style = "color:white">Completed Items:</h2>
		</th>
		<tr>
		 <td class = "green no-top">
			<h3 style = "color:white">Task</h3>
		</td>
		<td class = "green no-top">
			<h3 style = "color:white">Completed @</h3>
		</td>
		 <td class = "green no-top">
			<h3 style = "color:white">Created @</h3>
		</td>
		</tr>

		 <% @todo_list.todo_items.complete.each do |todo_item| %>
		
		<tr class = "green no-top hover ">
		   <td>
		  	  <h3 >
		  	  	<%= todo_item.content %>
		  	  </h3>
		   </td>
		    <td>
		  	  <h4 >
		  	  	<%= todo_item.completed_at %>
		  	  </h4>
		   </td>
		      <td>
		  	  <h4 >
		  	  	<%= todo_item.created_at %>
		  	  </h4>
		   </td>
		</tr>
	<% end %>
	<% end %>
	</tbody>
</table>
            <hr>
            <center>
              <div class="form-footer">

                <%= link_to 'Back', todo_lists_path,:class => "btn btn-lg btn-danger create-button" %>
                <% end %>  
              </div>
              </center>  
           </div> 

</div>
