<!DOCTYPE html>
<html>
  <head>
    <title>Wal33D'z ToDo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" >

    <%=stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%=javascript_include_tag "application", "data-turbolinks-track"=> true %>
    <%=csrf_meta_tags %>
  </head>

  <body>
<%= render "layouts/header" %>
    <div class="container">
      <!-- Static navbar -->
      
      <% flash.each do |type, message| %>
      <div class="alert flash <%= type %>">
        <%=message %>
      </div>
      <% end %>
      <div class="content">
        <%=yield %>
      </div>
    </div>
  </body>
  <script type="text/javascript">
$(document).ready(function () { $('html, body').animate({scrollTop:0}, 100); });
</script>
</html>
